*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #b4f2e1;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

div{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

h1{
    padding: 20px 20px;
    background-color: #ffe9c5;
    color: #fe9191;
    border-radius: 20px;
    font-family: "Roboto", sans-serif
}

span{
    color: #eb6383;
}